<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comp.timetableapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/time_table_icon"
        android:label="CLASS SAVER"
        android:roundIcon="@drawable/time_table_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="TODAY&apos;S CLASS"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AttendanceManager"
            android:label="ATTENDANCE MANAGER"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimeTable"
            android:label="SELECT DAY"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".content_day_time_table"
            android:label="@string/title_activity_content_day_time_table"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comp.timetableapp.MainActivity" />
        </activity>

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".SettingActivity"></activity>
    </application>

</manifest>